:root {
    --primary-accent-color: rgba(233, 88, 88, 0.708);  
}
.content-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    display: flex;
    flex-direction: row;
}
.habits-sidebar {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.283) solid;
    box-sizing: border-box;
    overflow: scroll;
}
.habits-sidebar-habit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
}
.habits-sidebar-habit-item > button {
    justify-content: center;
}
.habits-sidebar-habit-item > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.habits-sidebar-habit-item {
    height: 150px;
    box-sizing: border-box;
}
.habit-sidebar-text {
    width: 90%;
    font-size: 1.5em;
    box-sizing: border-box;
    text-align: left;
}
.habits-sidebar-buttons {
    width: 25%;
    margin-left: -25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
}
.habit-sidebar-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 45px;
    height: 50px;
}
.habit-green-button {
    color: rgb(0, 192, 0);
    font-size: 3em;
}
.habit-red-button {
    color: rgb(233, 88, 88);
    font-size: 3em;
}
.habit-quick-check {
    font-size: 3em;
    opacity: .85;
}
.habit-quick-check:hover {
    opacity: 1;
    cursor: pointer;
}
.habits-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.283) solid;
}
.habits-content>p {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    margin-top: 15%;
    text-align: center;
}
.habits-detail-habit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}
.habit-detail-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .habits-detail-description {
    width: 70%;
    margin: 0 auto;
} */
.habits-detail-bottom {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    overflow: hidden
}
.habits-detail-bottom-items {
    width: 70px;
}
.habits-detail-bottom-days-ago {
    height: 40px;
    width: 50px;
    overflow: hidden;
    text-align: center;
}
.streak {
    font-size: 2.25em;
    text-align: center;
}
.habit-detail-none-shown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.delete-habit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.6;
}
.delete-habit:hover {
    opacity: 1;
    cursor: pointer;
}
.delete-habit-confirm {
    position: absolute;
    bottom: 30px;
    right: 80px;
    opacity: 0.6;
    color: rgba(233, 88, 88, 0.708);
}
.delete-habit-confirm {
    opacity: 1;
    cursor: pointer;
}
.habit-type-icon {
    font-size: 1.5em;
}
.habit-type-icon {
    cursor: pointer;
}
.add-first-habit-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.add-first-habit-plus {
    height: 100px;
    width: auto;
    display: flex;
    opacity: 0.7;
}
.add-first-habit-plus:hover {
    opacity: 1;
    cursor: pointer;
}
.add-habit-button {
    height: 25px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
}
.add-habit-button:hover {
    opacity: 1;
    cursor: pointer;
}
.add-habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.979);
    height: 33%;
    border: 1px rgba(255, 255, 255, 0.283) solid;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 62.5%;
    z-index: 7;
}
.add-habit-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -10vh;
    right: 0;
    bottom: 0;
    left: -10vw;
    background-color: rgba(0, 0, 0, 0.55);
}
.add-habit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}
.add-habit-form-select {
    color: black;
    border-radius: 5px;
    border: solid black 1px;
    opacity: .8;
}
.add-habit-form-select:hover {
    opacity: 1;
}
.add-habit-form-select:focus {
    opacity: 1;
}
.add-habit-form > input, .add-habit-form > textarea, .add-habit-form > button {
    color: black;
    text-align: center;
    border-radius: 5px;
    border: solid black 1px;
    opacity: .8;
}
.add-habit-form > input:focus, .add-habit-form > input:hover, .add-habit-form > textarea:focus, .add-habit-form > textarea:hover, .add-habit-form > button:hover, .add-habit-form > button:focus {
    opacity: 1;
}
.add-habit-form > button:hover {
    cursor: pointer;
}
.add-habit-close-form {
    height: 25px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
    transform: rotate(45deg);
}
.add-habit-close-form:hover {
    opacity: 1;
    cursor: pointer;
}
.quick-view-button-cover {
    background-color: transparent;
    height: 3vh;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3;
}
.habits-quick-menu {
    max-width: 80vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    height: 9vh;
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 3;
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
    transition: all 500ms ease-in-out;   
}

.habits-quick-menu:hover {
    max-width: 80vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    height: 9vh;
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 3;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;   
}


.habits-quick-menu-item {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 9vh;
}
.habits-quick-menu-item > i, .habits-quick-menu-item > p {
    margin: 0 auto;
    text-align: center;
}