:root {
    --primary-accent-color: rgba(233, 88, 88, 0.708);  
}
.content-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    display: flex;
}
.habits-sidebar {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.283) solid;
    overflow: scroll;
}
.habits-sidebar-habit {
    width: 100%;
    background-color: transparent;
    
}
.habits-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px rgba(255, 255, 255, 0.283) solid;
}
.habits-content>p {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    margin-top: 15%;
    text-align: center;
}
.habits-detail-habit {

}
.habits-detail-habit-progress {
    display: flex;
    flex-direction: column;
    height: 100; 
    width: 50; 
    background-color: lightcoral;
}
.add-first-habit-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.add-first-habit-plus {
    height: 100px;
    width: auto;
    display: flex;
    opacity: 0.7;
}
.add-first-habit-plus:hover {
    opacity: 1;
    cursor: pointer;
}
.add-habit-button {
    height: 25px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
}
.add-habit-button:hover {
    opacity: 1;
    cursor: pointer;
}
.add-habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.979);
    height: 33%;
    border: 1px rgba(255, 255, 255, 0.283) solid;
    position: absolute;
    top: 50px;
    right: -30px;
    width: 62.5%;
    z-index: 7;
}
.add-habit-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -10vh;
    right: 0;
    bottom: 0;
    left: -10vw;
    background-color: rgba(0, 0, 0, 0.55);
}
.add-habit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.add-habit-form>input,textarea {
    color: black;
}
.add-habit-close-form {
    height: 25px;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
    transform: rotate(45deg);
}
.add-habit-close-form:hover {
    opacity: 1;
    cursor: pointer;
}