.weather-box{
    position: absolute;
    top: 0;
    right: 25px;
    display: inline;
}

.weather-box div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.weather-box img{
    height:20px;
    width: 20px;
}

.weather-box p{
    font-size: 10px;
}

.weatherModalContainer{
    width: 40vw;
    height: 20vh;
    background-color: royalblue;
}