.content-container{
    position: absolute;
    top: 8vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.7);
}

.calendar-div{
    border-right: 1px rgba(255, 255, 255, 0.283) solid;
    width: 40%;
    overflow: hidden;
    position: relative;
    top: 5vh;
    bottom: 5vh;
}

.calendar-day-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.calendar-morning{
    width: 100%;
    height: 26.66vh;
    border-bottom: 1px rgba(255, 255, 255, 0.283) solid;
    text-align: left;
    background-image: url('../../assets/sunrise.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
}

.add-button{
    height: 25px;
    width: 25px;
    opacity: 0.6;
    z-index: 5;
    position: relative;
    top: 5vh;
    left: 46vw;
}

.add-button:hover{
    opacity: 1;
}

.calendar-afternoon{
    width: 100%;
    height: 26.66vh;
    border-bottom: 1px rgba(255, 255, 255, 0.283) solid;
    text-align: left;
    background-image: url('../../assets/sunny.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27%;
}

.calendar-evening{
    width: 100%;
    height: 26.66vh;
    text-align: left;
    background-image: url('../../assets/moon-and-stars.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.add-event-menu{
    position: absolute;
    top: 50px;
    right: -30px;
    background-color: rgb(23, 24, 24);
    height: 300px;
    width: 50vw;
    z-index: 3;
    text-align: left;
}

.add-event-menu>span{
    margin-left: 20px;
}

.add-event-menu>p{
    margin-left: 20px;
}

.add-event-triangle{
    position: absolute;
    top: -8px;
    right: 43px;
    width: 0; 
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(23, 24, 24);
    z-index: 3;
  }
.event-menu-container h3{
    color: #969696;
}

.event-input-wrapper{
    margin-left: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.event-input-wrapper-clock, .event-input-wrapper-date{
    margin-left: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    }

.event-input-wrapper-clock input, .event-input-wrapper-date input{
color: #FAFAFA;
}

.event-input-wrapper-clock div::before, .event-input-wrapper-date::before{
    border-bottom-color: transparent;
}

.event-input-wrapper-clock div::after, .event-input-wrapper-date::after{
    border-bottom-color: rgba(233, 88, 88, 0.53);
}

.event-name-wrapper{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.event-left{
    position: absolute;
    top: 30%;
    left: 0;
    width: 20vw;
}

.event-calendar-icon{
    height: 20px;
    width: auto;
    opacity: .15;
    margin-right: 20px;
}

.MuiFormControl-root->div{
    color: white;
}

.Hi-Lo{
    cursor: pointer;
}

.Hi-Lo:hover{
    color: #FAFAFA !important;
}

.add-event-submit:hover{
    color: #FAFAFA !important;
}

.add-event-submit{
    cursor: pointer;
    width: auto;
    margin-left: 20%;
    margin-top: 15%;
}

.event-menu-container{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.event-right{
    width: 30vw;
    position: absolute;
    top: 20%;
    right: 5%;
}

.event-name-input-field{
    margin-left: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: rgba(255, 255, 255, 0.406) 1px solid;
    font-family: 'Lato';
    font-size: 30px;
}

.event-name-input-field:focus{
    border-bottom: 2px solid rgba(233, 88, 88, 0.53)
}

.event-description-input-field:focus{
    outline: 2px solid rgba(233, 88, 88, 0.53)
}

.event-description-input-field{
    width: 98%;
    margin-right: 2%;
    height: 15vh;
    background-color: transparent;
    outline: none;
    border:rgba(255, 255, 255, 0.406) 1px solid;
    resize: none;
    font-size: 15px;
    color: white;
}

.sublimated-event-graphic{
    opacity: .015;
    height: 80%;
    position: absolute;
    right: 5vw;
}

.event-desciptor{
    margin-left: 3%;
}

.question{
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.calendar-afternoon>span{
    font-size: 50px;
}

.eventInfoWrapper{
    margin-top: 10px;
    margin-left: 10px;
}

.event-info-modal{
    background-color: rgb(23, 24, 24);
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    margin-top: -25vh;
    margin-left: -25vw;
    z-index:10;
}

.event-info-time{
    font-size: 10px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.283)
}

::-webkit-scrollbar {
    display: none;
    }

.add-event-delete{
    position: absolute;
    right: 5px;
    bottom: -27%;
    cursor: pointer;
    width: auto;
    color: rgba(255, 255, 255, 0.283);
}

.add-event-delete:hover{
    color: rgba(233, 88, 88, 1)!important;
}

.delete-button{
    background-color: transparent;
    margin-left: 5.5vw;
}

.delete-button:hover{
    background-color: rgba(233, 88, 88, 1);
}