*{
    font-family: 'Lato';
    color: #FAFAFA;
    box-sizing: border-box;
    background-color: transparent;
}

html { 
    background: 
    linear-gradient(
        rgba(0,0,0,0.516),
        rgba(0,0,0,0.516)
    ),
    url('../../assets/background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.top-menu{
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.516);
    display: none;
}

.top-menu-button{
    position: relative;
    margin: 0 auto;
    width: 60px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.70);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top-menu-button img{
    height:20px;
    width: auto;
    margin-top: 4px;
    margin-left: 20px;
}

.left-menu{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
    transition: all 500ms ease-in-out;   
    opacity: 0.6;
}

.left-menu:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.left-menu img{
    margin-bottom: 30px;
    height: 35px;
    opacity: inherit;
}

.left-menu img:hover{
    opacity: 1;
}

.left-menu .spacer{
    height: 15vh;
}

.left-menu img:hover{
    cursor: pointer;
}

.home-center-card{

    position: absolute;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10vh;
    height: 100%;
    width: 60vw;
    /* background-color: rgba(0, 0, 0, 0.694); */
}

.home-center-card>h1{
    font-size: 160px;
    margin-bottom: 15px;
}

.home-center-card>h2{
font-size: 40px;
margin-top: -20px;
font-family: 'Montserrat', sans-serif;
letter-spacing: 1.2px;
}

.home-center-card>span{
    font-size: 22px;
    letter-spacing: .8px;
}

.home-spacer{
    height: 50px;
}

#timer-homepage-icon{
    height: 35px;
    background: url("../../assets/timer.png") bottom;
    width: 35px;
    position: absolute;
    bottom: -30px;
}

#timer-homepage-icon:hover {
    background-position: 0 0;
}

.event-date{
    color: rgba(255, 255, 255, 0.701);
    font-size: 13px;
    margin-right: 10px;
}

.event-time{
    color: rgba(255, 255, 255, 0.701);
    font-size: 13px;
    margin-right: 10px;
}

.info-button{
    position: absolute;
    top: 85px;
    right: 25px;
    width: 20px
}