.complete-modal-wrapper {
    background-color: rgba(255, 205, 5, 0.735);
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}

.complete-modal-wrapper>p {
    text-align: center;
    font-size: 14px;
}