:root {
    --primary-accent-color: rgba(233, 88, 88, 0.708);  
}

.content-container{
    position: absolute;
    top: 8vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.708);
    z-index: 5;
    display: flex;
}


 
.scratchpad{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /* margin-left: 25vw; */
    width: 56vw;
    height: 100%;
    padding-left: 5vw;
    border-left: 2px solid rgba(122, 120, 120, 0.708);    
    overflow: scroll;
}

.Notes{
    width: 25vw; /* change to percent for greater consistency */
    height: 100%;
    background-color: var(--primary-accent-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.notes-container{
    overflow: scroll;
    width: 23vw;
}

.note-buttons{
    color: royalblue;
    cursor: pointer;
    margin-left:4.5vw;
}

.maintitles{
    margin-left: 3vw;
}

.deleteModal{
    background-color: rgba(0, 0, 0, 0.911);
}

.note-buttons-delete{
    color: rgb(241, 80, 59);
    cursor: pointer;
    padding-left: 2.5vw;
}

.note-buttons-cancel{
    color: rgb(65, 179, 54);
    cursor: pointer;
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;

}

.note-buttons-delete-modal{
    color: rgb(120, 136, 184);
    cursor: pointer;
    margin-right:1vw;
    margin-left:1vw;
    margin-top: 0vw;
    padding-top: 1vw;
}

.garbagecandiv{
    position: absolute;
    right:1vw;
    top:1vw;
}

.notesRemove{
    background: url(../../assets/trash-icon.png) no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 15px;
    border-color: transparent;
}

.notestextarea{
    height: 67vh;
    width: 100%;
    color: rgb(210, 212, 218);
    background-color: transparent;
    border-color: transparent;
    margin-top: 13vh;
    font-size: 1.2em;
    outline: none;

}

.addnotestextarea{
    /* height: 67vh; */
    width: 100%;
    color: rgb(210, 212, 218);
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
    resize: vertical;
    /* overflow: visible; */
    outline: none;
}

.notepadtitlearea{
    border-bottom: 2px solid rgba(122, 120, 120, 0.708);
}


.notestitlearea{
    position: fixed;
    margin-top: 3vh;    
}


.scratchpadtextarea{
    height: auto;
    width: 100%;
    color: rgb(245, 247, 250);
    outline: none;

}

.notepadtitles{
    width: 30vw;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.4em;
    outline: none;
}

.addscratchpadcontent{
    height: auto;
    width: 100%;
    color: rgb(210, 212, 218);
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
}