
.content-container>h1{
    text-align: center;
    padding-top: 10vh;
}


.content-container>h3{
    text-align: center;
    padding-top: 2vh;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login-register-button{
    border: none;
    background-color: orange;
    width: 70px;
    height: 30px;
}

.button-spacer{
    width: 20px;
}

.login-login-button{
    border: none;
    width: 70px;
    height: 30px;
    background-color: green;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-field-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-input{
    width: 10vw;
    height: 20px;
    border: none;
    background-color: black;
}