
.loginBackgroundGradient{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2)
}

.content-container>h1 {
    text-align: center;
    padding-top: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.content-container{ 
    display: flex;
}
.login-content-container {
    flex-direction: column;
    text-align: center;
}

.logo-container{
    display: inline-block;
    margin-top: 40px;
}

.logo-container>h1{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.balance-logo{
    width: 150px;
    height: 150px;
}

.logo-container>h1{
    font-family: 'Montserrat', sans-serif;
}


.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form-container>h3{
    font-family: 'Montserrat', sans-serif;
}


.login-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-height: 55%;
}

.login-field-wrapper>p {
    margin-bottom: 0;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login-button {
    border: none;
    background-color: green;
    width: 90px;
    height: 30px;
    position: absolute;
    bottom: 110px;
    left: 452px;
    border-radius: 3px;
}

.login-button:hover{
    letter-spacing: 1px;
}

.register {
    background-color: orange;
}

.outside-form {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10%;
}
.login-input {
    width: 20vw;
    height: 30px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
}

.login-field-wrapper p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}