
.loginBackgroundGradient{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2)
}

.content-container>h1 {
    text-align: center;
    padding-top: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.content-container{ 
    display: flex;
}
.login-content-container {
    /* flex-direction: column; */
    text-align: center;
}

.logo-container{
    display: inline-block;
    margin-top: 40px;
}

.logo-container>h1{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.balance-logo{
    width: 150px;
    height: 150px;
}

.logo-container>h1{
    font-family: 'Montserrat', sans-serif;
}


.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form-container>h3{
    font-family: 'Montserrat', sans-serif;
}


.login-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-height: 55%;
}

.login-field-wrapper>p {
    margin-bottom: 0;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.login-buttons-container {
    display: flex;
    height: 80px;
    width: 220px;
    justify-content: space-around;
    /* background-color: red; */
    align-items: center;
}

.login-button { 
    border: none;
    background-color: rgba(0, 128, 0, 0.9); 
    width: 90px; 
    height: 30px; 
    letter-spacing: 1px; 
    border-radius: 3px; 
} 

.login-button:hover { 
    cursor: pointer;
    border: solid white 2px;
}

.register {
    background-color: rgba(255, 205, 5, 0.82);
    cursor: pointer;
}
.register:hover {
    cursor: pointer;
}

.login-input {
    width: 20vw;
    height: 30px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    outline: none;
}   
.login-input:focus {
    border-bottom: solid rgba(255, 205, 5, 0.82) 2px;
    animation: underline 450ms linear;
}

.login-field-wrapper p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.login-field-wrapper-register p {
    margin-top: 10px;
    margin-bottom: 0;
}

@keyframes underline {
    0% { width: 0; }
    100% { width: 20vw; }
}
